
{% extends 'base.html' %}
{% block cssLink %}
<title>404 error</title>
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block body %}

    <div class="font-serif font-bold flex flex-col justify-center items-center w-[100vw] h-[100vh] border border-black border-2">
        <h1 class="text-2xl">
            OOps, Page Not Found (404)
        </h1>
        <hr>
        <p>That page does not exists. Please make sure you are visiting the correct address</p>
        <a class="bg-gray-700 rounded p-3 mt-6 font-bold hover:bg-gray-800 hover:text-white" href="{{url_for('home')}}">Return Home Page</a>
    </div>

{% endblock %}