


{% extends 'base.html' %}
{% block cssLink %}
<title>register</title>
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block body %}

<section class="bg-gray-100 dark:bg-gray-900 h-full py-5">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <a href="{{url_for('home')}}" class="flex items-center mb-6 text-2xl font-serif font-semibold text-gray-900 dark:text-white">
            <img class="w-16 h-10 mr-2 font-medium" dark:src="../static/images/filter.jpg" src="../static/images/loginLOGO.png" alt="logo">
            For Filtering    
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Create an account
                </h1>
                <form class="space-y-4 md:space-y-6" action="#" method="POST">
                    {{form.hidden_tag()}}
                    <div>
                        {{form.firstname.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}  
                        <!-- this is the input  -->
                        {{form.firstname(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-bold font-serif",id="fnameID",placeholder="Your First Name")}}
                    </div>
                    <div>
                        {{form.lastname.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {{form.lastname(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-bold font-serif",id="lnameID",placeholder="Your Last Name")}} 
                    </div>
                    <div>
                        {{form.Username.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {% if form.Username.errors %}
                        {{form.Username(class="bg-gray-50 border border-red-600 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-red-600 font-bold font-serif",id="usernameID",placeholder="e.g.,Ronen")}}
                        {% for error in form.Username.errors %}
                            <span class="text-red-600">{{error}}</span>
                        {% endfor %}
                        {% else %}
                            {{form.Username(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-bold font-serif",id="usernameID",placeholder="e.g.,Example485")}}
                        {% endif %}
                    </div>
                    <div>
                        {{form.email.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {% if form.email.errors %}
                        {{form.email(class="bg-gray-50 border border border-red-600 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-red-600 font-bold font-serif",id="emailID",placeholder="e.g.,Example@ABC.com")}}
                        {% for error in form.email.errors %}
                        <span class="text-red-600">{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{form.email(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-bold font-serif",id="emailID",placeholder="e.g.,Example@ABC.com")}}
                        {% endif %}
                    </div>
                    <div>
                        {{form.password.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {{form.password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-bold font-serif",id="passwordID",placeholder="Must Contain At Least 8 Characters")}} 
                    </div>
                    <div>
                        {{form.confirm_password.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white")}}
                        {{form.confirm_password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-bold font-serif",id="cpasswordID",placeholder="Type Your Password Again")}}
                    </div>
                    {{form.submit(class="cursor-pointer	 border bg-black text-white p-2 rounded-md font-bold w-full hover:bg-gray-600",id="submitID")}}
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? <a href="{{url_for('login')}}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>

{% endblock %}